In [29]:
import pandas as pd
import numpy as np
from pandas import Series,DataFram
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv("sslvpn.csv", encoding="utf-8")
df

ImportError: cannot import name 'DataFram' from 'pandas' (C:\Users\dream\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\__init__.py)

In [13]:
y = df[df["static"].str.contains("up")]
y

                    date              time   static
7     ('date=2021-06-30'   'time=19:32:05'   'up"')
8     ('date=2021-06-30'   'time=19:32:04'   'up"')
12    ('date=2021-06-30'   'time=15:15:37'   'up"')
13    ('date=2021-06-30'   'time=15:15:36'   'up"')
15    ('date=2021-06-30'   'time=15:04:00'   'up"')
16    ('date=2021-06-30'   'time=15:03:59'   'up"')
21    ('date=2021-06-30'   'time=14:22:40'   'up"')
22    ('date=2021-06-30'   'time=14:22:40'   'up"')
42    ('date=2021-06-30'   'time=09:12:43'   'up"')
43    ('date=2021-06-30'   'time=09:12:42'   'up"')
91    ('date=2021-06-30'   'time=01:17:33'   'up"')
92    ('date=2021-06-30'   'time=01:17:32'   'up"')
101   ('date=2021-06-29'   'time=20:33:22'   'up"')
102   ('date=2021-06-29'   'time=20:33:22'   'up"')
104   ('date=2021-06-29'   'time=20:19:43'   'up"')
105   ('date=2021-06-29'   'time=20:19:42'   'up"')
110   ('date=2021-06-29'   'time=20:09:23'   'up"')
111   ('date=2021-06-29'   'time=20:09:22'   'up"')
114   ('date=2021-06-29'   'time=19:27:47'   'up"')
115   ('date=2021-06-29'   'time=19:27:46'   'up"')
117   ('date=2021-06-29'   'time=19:02:09'   'up"')
118   ('date=2021-06-29'   'time=19:02:08'   'up"')
128   ('date=2021-06-29'   'time=17:45:16'   'up"')
129   ('date=2021-06-29'   'time=17:45:16'   'up"')
132   ('date=2021-06-29'   'time=16:45:03'   'up"')
133   ('date=2021-06-29'   'time=16:45:02'   'up"')
136   ('date=2021-06-29'   'time=16:32:20'   'up"')
137   ('date=2021-06-29'   'time=16:32:20'   'up"')
139   ('date=2021-06-29'   'time=16:29:48'   'up"')
140   ('date=2021-06-29'   'time=16:29:47'   'up"')
150   ('date=2021-06-29'   'time=10:03:27'   'up"')
151   ('date=2021-06-29'   'time=10:03:27'   'up"')
162   ('date=2021-06-28'   'time=16:38:33'   'up"')
163   ('date=2021-06-28'   'time=16:38:32'   'up"')
178   ('date=2021-06-28'   'time=14:22:46'   'up"')
179   ('date=2021-06-28'   'time=14:22:46'   'up"')
185   ('date=2021-06-28'   'time=13:47:49'   'up"')
186   ('date=2021-06-28'   'time=13:47:48'   'up"')
189   ('date=2021-06-28'   'time=13:45:53'   'up"')
190   ('date=2021-06-28'   'time=13:45:52'   'up"')
217   ('date=2021-06-28'   'time=09:41:10'   'up"')
218   ('date=2021-06-28'   'time=09:41:10'   'up"')
224   ('date=2021-06-25'   'time=18:12:58'   'up"')
225   ('date=2021-06-25'   'time=18:12:57'   'up"')
275   ('date=2021-06-25'   'time=10:12:18'   'up"')
276   ('date=2021-06-25'   'time=10:12:17'   'up"')
304   ('date=2021-06-24'   'time=13:40:50'   'up"')
305   ('date=2021-06-24'   'time=13:40:50'   'up"')
324   ('date=2021-06-24'   'time=10:53:40'   'up"')
325   ('date=2021-06-24'   'time=10:53:39'   'up"')
328   ('date=2021-06-24'   'time=10:33:11'   'up"')
329   ('date=2021-06-24'   'time=10:33:07'   'up"')
332   ('date=2021-06-24'   'time=09:46:06'   'up"')
333   ('date=2021-06-24'   'time=09:46:05'   'up"')
340   ('date=2021-06-23'   'time=15:49:10'   'up"')
341   ('date=2021-06-23'   'time=15:49:08'   'up"')
352   ('date=2021-06-23'   'time=14:21:02'   'up"')
353   ('date=2021-06-23'   'time=14:21:01'   'up"')
356   ('date=2021-06-23'   'time=13:13:08'   'up"')
357   ('date=2021-06-23'   'time=13:13:07'   'up"')
362   ('date=2021-06-23'   'time=12:45:39'   'up"')
363   ('date=2021-06-23'   'time=12:45:38'   'up"')
371   ('date=2021-06-23'   'time=11:37:08'   'up"')
372   ('date=2021-06-23'   'time=11:37:07'   'up"')
378   ('date=2021-06-23'   'time=10:51:55'   'up"')
379   ('date=2021-06-23'   'time=10:51:55'   'up"')
385   ('date=2021-06-23'   'time=10:09:40'   'up"')
386   ('date=2021-06-23'   'time=10:09:40'   'up"')
388   ('date=2021-06-23'   'time=09:58:00'   'up"')
389   ('date=2021-06-23'   'time=09:57:59'   'up"')
432   ('date=2021-06-23'   'time=02:58:57'   'up"')
433   ('date=2021-06-23'   'time=02:58:55'   'up"')
437   ('date=2021-06-23'   'time=02:42:15'   'up"')
438   ('date=2021-06-23'   'time=02:42:14'   'up"')
440   ('date=2021-06-23'   'time=02:34:38'   'up"')
441   ('date=2021-06-23'   'time=02:34:37'   'up"')
443   ('date=2021-06-22'   'time=22:38:58'   'up"')
444   ('date=2021-06-22'   'time=22:38:58'   'up"')
451   ('date=2021-06-22'   'time=21:27:26'   'up"')
452   ('date=2021-06-22'   'time=21:27:25'   'up"')
454   ('date=2021-06-22'   'time=20:33:10'   'up"')
455   ('date=2021-06-22'   'time=20:33:09'   'up"')
505   ('date=2021-06-22'   'time=10:12:58'   'up"')
506   ('date=2021-06-22'   'time=10:12:57'   'up"')
512   ('date=2021-06-21'   'time=18:21:08'   'up"')
513   ('date=2021-06-21'   'time=18:21:07'   'up"')
518   ('date=2021-06-21'   'time=16:01:38'   'up"')
519   ('date=2021-06-21'   'time=16:01:32'   'up"')
522   ('date=2021-06-21'   'time=15:57:56'   'up"')
523   ('date=2021-06-21'   'time=15:57:56'   'up"')
527   ('date=2021-06-21'   'time=15:30:07'   'up"')
528   ('date=2021-06-21'   'time=15:30:07'   'up"')
531   ('date=2021-06-21'   'time=14:25:37'   'up"')
532   ('date=2021-06-21'   'time=14:25:31'   'up"')
534   ('date=2021-06-21'   'time=10:15:31'   'up"')
535   ('date=2021-06-21'   'time=10:15:31'   'up"')
537   ('date=2021-06-21'   'time=10:02:44'   'up"')
538   ('date=2021-06-21'   'time=10:02:44'   'up"')
541   ('date=2021-06-21'   'time=09:51:43'   'up"')
542   ('date=2021-06-21'   'time=09:51:42'   'up"')
545   ('date=2021-06-21'   'time=09:41:12'   'up"')
546   ('date=2021-06-21'   'time=09:41:11'   'up"')
549   ('date=2021-06-18'   'time=17:31:19'   'up"')
550   ('date=2021-06-18'   'time=17:31:19'   'up"')
553   ('date=2021-06-18'   'time=17:27:59'   'up"')
554   ('date=2021-06-18'   'time=17:27:58'   'up"')
559   ('date=2021-06-18'   'time=16:56:50'   'up"')
560   ('date=2021-06-18'   'time=16:56:49'   'up"')
565   ('date=2021-06-18'   'time=16:29:26'   'up"')
566   ('date=2021-06-18'   'time=16:29:25'   'up"')
569   ('date=2021-06-18'   'time=16:23:38'   'up"')
570   ('date=2021-06-18'   'time=16:23:38'   'up"')
573   ('date=2021-06-18'   'time=13:52:28'   'up"')
574   ('date=2021-06-18'   'time=13:52:27'   'up"')
582   ('date=2021-06-18'   'time=10:38:30'   'up"')
583   ('date=2021-06-18'   'time=10:38:29'   'up"')
586   ('date=2021-06-18'   'time=10:00:30'   'up"')
587   ('date=2021-06-18'   'time=10:00:29'   'up"')
590   ('date=2021-06-18'   'time=09:44:37'   'up"')
591   ('date=2021-06-18'   'time=09:44:37'   'up"')
596   ('date=2021-06-18'   'time=09:19:07'   'up"')
597   ('date=2021-06-18'   'time=09:19:07'   'up"')
605   ('date=2021-06-17'   'time=17:11:09'   'up"')
606   ('date=2021-06-17'   'time=17:11:08'   'up"')
612   ('date=2021-06-17'   'time=16:24:08'   'up"')
613   ('date=2021-06-17'   'time=16:24:07'   'up"')
618   ('date=2021-06-17'   'time=15:46:30'   'up"')
619   ('date=2021-06-17'   'time=15:46:29'   'up"')
627   ('date=2021-06-17'   'time=14:55:09'   'up"')
628   ('date=2021-06-17'   'time=14:55:08'   'up"')
635   ('date=2021-06-17'   'time=13:56:50'   'up"')
636   ('date=2021-06-17'   'time=13:56:49'   'up"')
653   ('date=2021-06-17'   'time=10:40:14'   'up"')
654   ('date=2021-06-17'   'time=10:40:13'   'up"')
658   ('date=2021-06-17'   'time=09:19:28'   'up"')
659   ('date=2021-06-17'   'time=09:19:27'   'up"')
666   ('date=2021-06-16'   'time=17:52:03'   'up"')
667   ('date=2021-06-16'   'time=17:52:03'   'up"')
671   ('date=2021-06-14'   'time=15:59:20'   'up"')
672   ('date=2021-06-14'   'time=15:59:20'   'up"')
699   ('date=2021-06-11'   'time=13:31:34'   'up"')
700   ('date=2021-06-11'   'time=13:31:33'   'up"')
706   ('date=2021-06-11'   'time=12:48:37'   'up"')
707   ('date=2021-06-11'   'time=12:48:37'   'up"')
709   ('date=2021-06-09'   'time=16:20:27'   'up"')
710   ('date=2021-06-09'   'time=16:20:26'   'up"')
713   ('date=2021-06-09'   'time=15:56:11'   'up"')
714   ('date=2021-06-09'   'time=15:56:10'   'up"')
718   ('date=2021-06-09'   'time=14:29:51'   'up"')
719   ('date=2021-06-09'   'time=14:29:50'   'up"')
722   ('date=2021-06-09'   'time=11:57:51'   'up"')
723   ('date=2021-06-09'   'time=11:57:51'   'up"')
725   ('date=2021-06-09'   'time=09:18:22'   'up"')
726   ('date=2021-06-09'   'time=09:18:21'   'up"')
729   ('date=2021-06-09'   'time=09:07:35'   'up"')
730   ('date=2021-06-09'   'time=09:07:35'   'up"')
733   ('date=2021-06-09'   'time=09:01:42'   'up"')
734   ('date=2021-06-09'   'time=09:01:42'   'up"')
750   ('date=2021-06-09'   'time=05:53:26'   'up"')
751   ('date=2021-06-09'   'time=05:53:25'   'up"')
770   ('date=2021-06-08'   'time=16:57:19'   'up"')
771   ('date=2021-06-08'   'time=16:57:18'   'up"')
774   ('date=2021-06-08'   'time=16:39:19'   'up"')
775   ('date=2021-06-08'   'time=16:39:18'   'up"')
779   ('date=2021-06-08'   'time=16:07:45'   'up"')
780   ('date=2021-06-08'   'time=16:07:44'   'up"')
792   ('date=2021-06-08'   'time=14:21:20'   'up"')
793   ('date=2021-06-08'   'time=14:21:19'   'up"')
796   ('date=2021-06-08'   'time=14:16:14'   'up"')
797   ('date=2021-06-08'   'time=14:16:13'   'up"')
801   ('date=2021-06-08'   'time=13:26:19'   'up"')
802   ('date=2021-06-08'   'time=13:26:18'   'up"')
805   ('date=2021-06-08'   'time=13:07:04'   'up"')
806   ('date=2021-06-08'   'time=13:07:03'   'up"')
810   ('date=2021-06-08'   'time=10:43:34'   'up"')
811   ('date=2021-06-08'   'time=10:43:33'   'up"')
816   ('date=2021-06-08'   'time=08:57:37'   'up"')
817   ('date=2021-06-08'   'time=08:57:36'   'up"')
820   ('date=2021-06-08'   'time=08:55:25'   'up"')
821   ('date=2021-06-08'   'time=08:55:25'   'up"')
823   ('date=2021-06-03'   'time=21:05:09'   'up"')
824   ('date=2021-06-03'   'time=21:05:08'   'up"')
829   ('date=2021-06-03'   'time=19:57:24'   'up"')
830   ('date=2021-06-03'   'time=19:57:23'   'up"')
833   ('date=2021-06-03'   'time=19:49:39'   'up"')
834   ('date=2021-06-03'   'time=19:49:38'   'up"')
836   ('date=2021-06-03'   'time=19:26:03'   'up"')
837   ('date=2021-06-03'   'time=19:26:03'   'up"')
839   ('date=2021-06-03'   'time=19:23:18'   'up"')
840   ('date=2021-06-03'   'time=19:23:17'   'up"')
842   ('date=2021-06-03'   'time=19:16:47'   'up"')
843   ('date=2021-06-03'   'time=19:16:46'   'up"')
846   ('date=2021-06-03'   'time=19:02:26'   'up"')
847   ('date=2021-06-03'   'time=19:02:25'   'up"')
854   ('date=2021-06-03'   'time=18:01:54'   'up"')
855   ('date=2021-06-03'   'time=18:01:54'   'up"')
867   ('date=2021-06-03'   'time=16:02:48'   'up"')
868   ('date=2021-06-03'   'time=16:02:48'   'up"')
873   ('date=2021-06-03'   'time=15:33:52'   'up"')
874   ('date=2021-06-03'   'time=15:33:51'   'up"')
879   ('date=2021-06-03'   'time=13:48:16'   'up"')
880   ('date=2021-06-03'   'time=13:48:15'   'up"')
883   ('date=2021-06-03'   'time=11:35:58'   'up"')
884   ('date=2021-06-03'   'time=11:35:57'   'up"')
886   ('date=2021-06-03'   'time=11:01:49'   'up"')
887   ('date=2021-06-03'   'time=11:01:49'   'up"')
890   ('date=2021-06-02'   'time=17:11:48'   'up"')
891   ('date=2021-06-02'   'time=17:11:47'   'up"')
909   ('date=2021-06-02'   'time=13:36:41'   'up"')
910   ('date=2021-06-02'   'time=13:36:40'   'up"')
914   ('date=2021-06-02'   'time=13:21:49'   'up"')
915   ('date=2021-06-02'   'time=13:21:48'   'up"')
921   ('date=2021-06-02'   'time=11:33:50'   'up"')
922   ('date=2021-06-02'   'time=11:33:49'   'up"')
974   ('date=2021-06-02'   'time=03:21:23'   'up"')
975   ('date=2021-06-02'   'time=03:21:22'   'up"')
979   ('date=2021-06-01'   'time=18:51:04'   'up"')
980   ('date=2021-06-01'   'time=18:51:04'   'up"')
984   ('date=2021-06-01'   'time=17:02:18'   'up"')
985   ('date=2021-06-01'   'time=17:02:17'   'up"')
999   ('date=2021-06-01'   'time=14:39:19'   'up"')
1000  ('date=2021-06-01'   'time=14:39:19'   'up"')

In [14]:
x = df[df["static"].str.contains("down")]
x

                   date              time     static
0    ('date=2021-06-30'   'time=20:32:25'   'down"')
1    ('date=2021-06-30'   'time=20:32:25'   'down"')
9    ('date=2021-06-30'   'time=15:28:22'   'down"')
10   ('date=2021-06-30'   'time=15:28:20'   'down"')
14   ('date=2021-06-30'   'time=15:09:24'   'down"')
17   ('date=2021-06-30'   'time=15:01:40'   'down"')
23   ('date=2021-06-30'   'time=12:08:44'   'down"')
24   ('date=2021-06-30'   'time=12:08:44'   'down"')
44   ('date=2021-06-30'   'time=09:07:44'   'down"')
93   ('date=2021-06-29'   'time=21:41:24'   'down"')
94   ('date=2021-06-29'   'time=21:41:23'   'down"')
103  ('date=2021-06-29'   'time=20:26:07'   'down"')
109  ('date=2021-06-29'   'time=20:16:57'   'down"')
112  ('date=2021-06-29'   'time=19:30:04'   'down"')
113  ('date=2021-06-29'   'time=19:30:02'   'down"')
116  ('date=2021-06-29'   'time=19:07:30'   'down"')
119  ('date=2021-06-29'   'time=18:57:40'   'down"')
120  ('date=2021-06-29'   'time=18:57:40'   'down"')
130  ('date=2021-06-29'   'time=17:01:22'   'down"')
134  ('date=2021-06-29'   'time=16:37:11'   'down"')
135  ('date=2021-06-29'   'time=16:37:10'   'down"')
138  ('date=2021-06-29'   'time=16:32:06'   'down"')
141  ('date=2021-06-29'   'time=11:20:01'   'down"')
142  ('date=2021-06-29'   'time=11:19:59'   'down"')
152  ('date=2021-06-28'   'time=18:04:21'   'down"')
153  ('date=2021-06-28'   'time=18:04:19'   'down"')
164  ('date=2021-06-28'   'time=16:38:00'   'down"')
180  ('date=2021-06-28'   'time=14:22:03'   'down"')
181  ('date=2021-06-28'   'time=14:22:01'   'down"')
187  ('date=2021-06-28'   'time=13:47:25'   'down"')
188  ('date=2021-06-28'   'time=13:47:23'   'down"')
191  ('date=2021-06-28'   'time=13:45:24'   'down"')
192  ('date=2021-06-28'   'time=13:45:23'   'down"')
219  ('date=2021-06-25'   'time=18:44:47'   'down"')
220  ('date=2021-06-25'   'time=18:44:47'   'down"')
226  ('date=2021-06-25'   'time=18:12:18'   'down"')
227  ('date=2021-06-25'   'time=18:12:18'   'down"')
277  ('date=2021-06-24'   'time=18:03:27'   'down"')
306  ('date=2021-06-24'   'time=13:40:40'   'down"')
307  ('date=2021-06-24'   'time=13:40:37'   'down"')
326  ('date=2021-06-24'   'time=10:53:02'   'down"')
330  ('date=2021-06-24'   'time=09:54:00'   'down"')
331  ('date=2021-06-24'   'time=09:53:58'   'down"')
335  ('date=2021-06-23'   'time=16:27:58'   'down"')
336  ('date=2021-06-23'   'time=16:27:57'   'down"')
342  ('date=2021-06-23'   'time=15:48:50'   'down"')
343  ('date=2021-06-23'   'time=15:48:50'   'down"')
354  ('date=2021-06-23'   'time=13:16:56'   'down"')
355  ('date=2021-06-23'   'time=13:16:55'   'down"')
358  ('date=2021-06-23'   'time=13:08:56'   'down"')
359  ('date=2021-06-23'   'time=13:08:54'   'down"')
364  ('date=2021-06-23'   'time=12:27:21'   'down"')
365  ('date=2021-06-23'   'time=12:27:19'   'down"')
373  ('date=2021-06-23'   'time=11:24:55'   'down"')
374  ('date=2021-06-23'   'time=11:24:53'   'down"')
380  ('date=2021-06-23'   'time=10:41:21'   'down"')
381  ('date=2021-06-23'   'time=10:41:19'   'down"')
387  ('date=2021-06-23'   'time=10:00:22'   'down"')
390  ('date=2021-06-23'   'time=09:43:03'   'down"')
391  ('date=2021-06-23'   'time=09:43:03'   'down"')
434  ('date=2021-06-23'   'time=02:58:44'   'down"')
435  ('date=2021-06-23'   'time=02:58:44'   'down"')
439  ('date=2021-06-23'   'time=02:36:14'   'down"')
442  ('date=2021-06-22'   'time=22:39:47'   'down"')
445  ('date=2021-06-22'   'time=22:16:18'   'down"')
446  ('date=2021-06-22'   'time=22:16:16'   'down"')
453  ('date=2021-06-22'   'time=20:40:06'   'down"')
456  ('date=2021-06-22'   'time=18:12:59'   'down"')
457  ('date=2021-06-22'   'time=18:12:59'   'down"')
507  ('date=2021-06-21'   'time=19:01:41'   'down"')
514  ('date=2021-06-21'   'time=16:27:46'   'down"')
515  ('date=2021-06-21'   'time=16:27:46'   'down"')
520  ('date=2021-06-21'   'time=15:58:42'   'down"')
521  ('date=2021-06-21'   'time=15:58:41'   'down"')
524  ('date=2021-06-21'   'time=15:47:37'   'down"')
525  ('date=2021-06-21'   'time=15:47:35'   'down"')
529  ('date=2021-06-21'   'time=14:30:50'   'down"')
530  ('date=2021-06-21'   'time=14:30:49'   'down"')
533  ('date=2021-06-21'   'time=10:18:10'   'down"')
536  ('date=2021-06-21'   'time=10:03:51'   'down"')
539  ('date=2021-06-21'   'time=09:56:20'   'down"')
540  ('date=2021-06-21'   'time=09:56:20'   'down"')
543  ('date=2021-06-21'   'time=09:41:40'   'down"')
544  ('date=2021-06-21'   'time=09:41:39'   'down"')
547  ('date=2021-06-18'   'time=17:34:11'   'down"')
548  ('date=2021-06-18'   'time=17:34:10'   'down"')
551  ('date=2021-06-18'   'time=17:28:48'   'down"')
552  ('date=2021-06-18'   'time=17:28:47'   'down"')
555  ('date=2021-06-18'   'time=17:23:32'   'down"')
556  ('date=2021-06-18'   'time=17:23:31'   'down"')
561  ('date=2021-06-18'   'time=16:51:45'   'down"')
562  ('date=2021-06-18'   'time=16:51:45'   'down"')
567  ('date=2021-06-18'   'time=16:28:09'   'down"')
568  ('date=2021-06-18'   'time=16:28:08'   'down"')
571  ('date=2021-06-18'   'time=13:58:39'   'down"')
572  ('date=2021-06-18'   'time=13:58:39'   'down"')
575  ('date=2021-06-18'   'time=11:29:46'   'down"')
576  ('date=2021-06-18'   'time=11:29:46'   'down"')
584  ('date=2021-06-18'   'time=10:03:08'   'down"')
585  ('date=2021-06-18'   'time=10:03:08'   'down"')
588  ('date=2021-06-18'   'time=09:52:20'   'down"')
589  ('date=2021-06-18'   'time=09:52:20'   'down"')
592  ('date=2021-06-18'   'time=09:43:27'   'down"')
593  ('date=2021-06-18'   'time=09:43:27'   'down"')
598  ('date=2021-06-17'   'time=18:03:43'   'down"')
599  ('date=2021-06-17'   'time=18:03:41'   'down"')
607  ('date=2021-06-17'   'time=17:06:11'   'down"')
614  ('date=2021-06-17'   'time=16:10:23'   'down"')
615  ('date=2021-06-17'   'time=16:10:21'   'down"')
621  ('date=2021-06-17'   'time=15:41:25'   'down"')
622  ('date=2021-06-17'   'time=15:41:24'   'down"')
629  ('date=2021-06-17'   'time=14:38:29'   'down"')
630  ('date=2021-06-17'   'time=14:38:28'   'down"')
637  ('date=2021-06-17'   'time=13:10:36'   'down"')
638  ('date=2021-06-17'   'time=13:10:36'   'down"')
655  ('date=2021-06-17'   'time=09:33:42'   'down"')
656  ('date=2021-06-17'   'time=09:33:40'   'down"')
660  ('date=2021-06-16'   'time=18:38:32'   'down"')
661  ('date=2021-06-16'   'time=18:38:31'   'down"')
668  ('date=2021-06-14'   'time=16:21:51'   'down"')
673  ('date=2021-06-11'   'time=17:38:16'   'down"')
674  ('date=2021-06-11'   'time=17:38:14'   'down"')
701  ('date=2021-06-11'   'time=13:24:38'   'down"')
702  ('date=2021-06-11'   'time=13:24:37'   'down"')
708  ('date=2021-06-09'   'time=16:22:59'   'down"')
711  ('date=2021-06-09'   'time=16:09:25'   'down"')
716  ('date=2021-06-09'   'time=14:40:54'   'down"')
721  ('date=2021-06-09'   'time=12:04:24'   'down"')
724  ('date=2021-06-09'   'time=09:18:38'   'down"')
727  ('date=2021-06-09'   'time=09:16:21'   'down"')
728  ('date=2021-06-09'   'time=09:16:19'   'down"')
731  ('date=2021-06-09'   'time=09:05:52'   'down"')
732  ('date=2021-06-09'   'time=09:05:51'   'down"')
735  ('date=2021-06-09'   'time=08:20:59'   'down"')
752  ('date=2021-06-08'   'time=19:45:04'   'down"')
753  ('date=2021-06-08'   'time=19:45:03'   'down"')
772  ('date=2021-06-08'   'time=16:53:08'   'down"')
777  ('date=2021-06-08'   'time=16:25:03'   'down"')
781  ('date=2021-06-08'   'time=16:00:38'   'down"')
782  ('date=2021-06-08'   'time=16:00:36'   'down"')
794  ('date=2021-06-08'   'time=14:18:26'   'down"')
795  ('date=2021-06-08'   'time=14:18:25'   'down"')
798  ('date=2021-06-08'   'time=13:55:44'   'down"')
803  ('date=2021-06-08'   'time=13:08:06'   'down"')
804  ('date=2021-06-08'   'time=13:08:05'   'down"')
809  ('date=2021-06-08'   'time=10:44:11'   'down"')
814  ('date=2021-06-08'   'time=09:00:25'   'down"')
815  ('date=2021-06-08'   'time=09:00:24'   'down"')
818  ('date=2021-06-08'   'time=08:55:36'   'down"')
819  ('date=2021-06-08'   'time=08:55:34'   'down"')
822  ('date=2021-06-03'   'time=21:05:30'   'down"')
825  ('date=2021-06-03'   'time=20:27:30'   'down"')
832  ('date=2021-06-03'   'time=19:51:26'   'down"')
835  ('date=2021-06-03'   'time=19:30:05'   'down"')
838  ('date=2021-06-03'   'time=19:23:37'   'down"')
841  ('date=2021-06-03'   'time=19:22:19'   'down"')
844  ('date=2021-06-03'   'time=19:15:37'   'down"')
848  ('date=2021-06-03'   'time=18:52:12'   'down"')
856  ('date=2021-06-03'   'time=17:50:46'   'down"')
869  ('date=2021-06-03'   'time=15:54:33'   'down"')
870  ('date=2021-06-03'   'time=15:54:31'   'down"')
875  ('date=2021-06-03'   'time=14:24:37'   'down"')
881  ('date=2021-06-03'   'time=11:51:22'   'down"')
885  ('date=2021-06-03'   'time=11:06:39'   'down"')
888  ('date=2021-06-02'   'time=17:22:00'   'down"')
892  ('date=2021-06-02'   'time=16:19:59'   'down"')
911  ('date=2021-06-02'   'time=13:35:37'   'down"')
912  ('date=2021-06-02'   'time=13:35:36'   'down"')
916  ('date=2021-06-02'   'time=12:04:09'   'down"')
917  ('date=2021-06-02'   'time=12:04:07'   'down"')
925  ('date=2021-06-02'   'time=11:21:34'   'down"')
926  ('date=2021-06-02'   'time=11:21:34'   'down"')
976  ('date=2021-06-01'   'time=19:02:06'   'down"')
977  ('date=2021-06-01'   'time=19:02:04'   'down"')
982  ('date=2021-06-01'   'time=17:05:18'   'down"')
983  ('date=2021-06-01'   'time=17:05:16'   'down"')
986  ('date=2021-06-01'   'time=16:29:55'   'down"')
987  ('date=2021-06-01'   'time=16:29:54'   'down"')

In [30]:
result = pd.concat([x , y])
result

                    date              time     static
0     ('date=2021-06-30'   'time=20:32:25'   'down"')
1     ('date=2021-06-30'   'time=20:32:25'   'down"')
9     ('date=2021-06-30'   'time=15:28:22'   'down"')
10    ('date=2021-06-30'   'time=15:28:20'   'down"')
14    ('date=2021-06-30'   'time=15:09:24'   'down"')
17    ('date=2021-06-30'   'time=15:01:40'   'down"')
23    ('date=2021-06-30'   'time=12:08:44'   'down"')
24    ('date=2021-06-30'   'time=12:08:44'   'down"')
44    ('date=2021-06-30'   'time=09:07:44'   'down"')
93    ('date=2021-06-29'   'time=21:41:24'   'down"')
94    ('date=2021-06-29'   'time=21:41:23'   'down"')
103   ('date=2021-06-29'   'time=20:26:07'   'down"')
109   ('date=2021-06-29'   'time=20:16:57'   'down"')
112   ('date=2021-06-29'   'time=19:30:04'   'down"')
113   ('date=2021-06-29'   'time=19:30:02'   'down"')
116   ('date=2021-06-29'   'time=19:07:30'   'down"')
119   ('date=2021-06-29'   'time=18:57:40'   'down"')
120   ('date=2021-06-29'   'time=18:57:40'   'down"')
130   ('date=2021-06-29'   'time=17:01:22'   'down"')
134   ('date=2021-06-29'   'time=16:37:11'   'down"')
135   ('date=2021-06-29'   'time=16:37:10'   'down"')
138   ('date=2021-06-29'   'time=16:32:06'   'down"')
141   ('date=2021-06-29'   'time=11:20:01'   'down"')
142   ('date=2021-06-29'   'time=11:19:59'   'down"')
152   ('date=2021-06-28'   'time=18:04:21'   'down"')
153   ('date=2021-06-28'   'time=18:04:19'   'down"')
164   ('date=2021-06-28'   'time=16:38:00'   'down"')
180   ('date=2021-06-28'   'time=14:22:03'   'down"')
181   ('date=2021-06-28'   'time=14:22:01'   'down"')
187   ('date=2021-06-28'   'time=13:47:25'   'down"')
188   ('date=2021-06-28'   'time=13:47:23'   'down"')
191   ('date=2021-06-28'   'time=13:45:24'   'down"')
192   ('date=2021-06-28'   'time=13:45:23'   'down"')
219   ('date=2021-06-25'   'time=18:44:47'   'down"')
220   ('date=2021-06-25'   'time=18:44:47'   'down"')
226   ('date=2021-06-25'   'time=18:12:18'   'down"')
227   ('date=2021-06-25'   'time=18:12:18'   'down"')
277   ('date=2021-06-24'   'time=18:03:27'   'down"')
306   ('date=2021-06-24'   'time=13:40:40'   'down"')
307   ('date=2021-06-24'   'time=13:40:37'   'down"')
326   ('date=2021-06-24'   'time=10:53:02'   'down"')
330   ('date=2021-06-24'   'time=09:54:00'   'down"')
331   ('date=2021-06-24'   'time=09:53:58'   'down"')
335   ('date=2021-06-23'   'time=16:27:58'   'down"')
336   ('date=2021-06-23'   'time=16:27:57'   'down"')
342   ('date=2021-06-23'   'time=15:48:50'   'down"')
343   ('date=2021-06-23'   'time=15:48:50'   'down"')
354   ('date=2021-06-23'   'time=13:16:56'   'down"')
355   ('date=2021-06-23'   'time=13:16:55'   'down"')
358   ('date=2021-06-23'   'time=13:08:56'   'down"')
359   ('date=2021-06-23'   'time=13:08:54'   'down"')
364   ('date=2021-06-23'   'time=12:27:21'   'down"')
365   ('date=2021-06-23'   'time=12:27:19'   'down"')
373   ('date=2021-06-23'   'time=11:24:55'   'down"')
374   ('date=2021-06-23'   'time=11:24:53'   'down"')
380   ('date=2021-06-23'   'time=10:41:21'   'down"')
381   ('date=2021-06-23'   'time=10:41:19'   'down"')
387   ('date=2021-06-23'   'time=10:00:22'   'down"')
390   ('date=2021-06-23'   'time=09:43:03'   'down"')
391   ('date=2021-06-23'   'time=09:43:03'   'down"')
434   ('date=2021-06-23'   'time=02:58:44'   'down"')
435   ('date=2021-06-23'   'time=02:58:44'   'down"')
439   ('date=2021-06-23'   'time=02:36:14'   'down"')
442   ('date=2021-06-22'   'time=22:39:47'   'down"')
445   ('date=2021-06-22'   'time=22:16:18'   'down"')
446   ('date=2021-06-22'   'time=22:16:16'   'down"')
453   ('date=2021-06-22'   'time=20:40:06'   'down"')
456   ('date=2021-06-22'   'time=18:12:59'   'down"')
457   ('date=2021-06-22'   'time=18:12:59'   'down"')
507   ('date=2021-06-21'   'time=19:01:41'   'down"')
514   ('date=2021-06-21'   'time=16:27:46'   'down"')
515   ('date=2021-06-21'   'time=16:27:46'   'down"')
520   ('date=2021-06-21'   'time=15:58:42'   'down"')
521   ('date=2021-06-21'   'time=15:58:41'   'down"')
524   ('date=2021-06-21'   'time=15:47:37'   'down"')
525   ('date=2021-06-21'   'time=15:47:35'   'down"')
529   ('date=2021-06-21'   'time=14:30:50'   'down"')
530   ('date=2021-06-21'   'time=14:30:49'   'down"')
533   ('date=2021-06-21'   'time=10:18:10'   'down"')
536   ('date=2021-06-21'   'time=10:03:51'   'down"')
539   ('date=2021-06-21'   'time=09:56:20'   'down"')
540   ('date=2021-06-21'   'time=09:56:20'   'down"')
543   ('date=2021-06-21'   'time=09:41:40'   'down"')
544   ('date=2021-06-21'   'time=09:41:39'   'down"')
547   ('date=2021-06-18'   'time=17:34:11'   'down"')
548   ('date=2021-06-18'   'time=17:34:10'   'down"')
551   ('date=2021-06-18'   'time=17:28:48'   'down"')
552   ('date=2021-06-18'   'time=17:28:47'   'down"')
555   ('date=2021-06-18'   'time=17:23:32'   'down"')
556   ('date=2021-06-18'   'time=17:23:31'   'down"')
561   ('date=2021-06-18'   'time=16:51:45'   'down"')
562   ('date=2021-06-18'   'time=16:51:45'   'down"')
567   ('date=2021-06-18'   'time=16:28:09'   'down"')
568   ('date=2021-06-18'   'time=16:28:08'   'down"')
571   ('date=2021-06-18'   'time=13:58:39'   'down"')
572   ('date=2021-06-18'   'time=13:58:39'   'down"')
575   ('date=2021-06-18'   'time=11:29:46'   'down"')
576   ('date=2021-06-18'   'time=11:29:46'   'down"')
584   ('date=2021-06-18'   'time=10:03:08'   'down"')
585   ('date=2021-06-18'   'time=10:03:08'   'down"')
588   ('date=2021-06-18'   'time=09:52:20'   'down"')
589   ('date=2021-06-18'   'time=09:52:20'   'down"')
592   ('date=2021-06-18'   'time=09:43:27'   'down"')
593   ('date=2021-06-18'   'time=09:43:27'   'down"')
598   ('date=2021-06-17'   'time=18:03:43'   'down"')
599   ('date=2021-06-17'   'time=18:03:41'   'down"')
607   ('date=2021-06-17'   'time=17:06:11'   'down"')
614   ('date=2021-06-17'   'time=16:10:23'   'down"')
615   ('date=2021-06-17'   'time=16:10:21'   'down"')
621   ('date=2021-06-17'   'time=15:41:25'   'down"')
622   ('date=2021-06-17'   'time=15:41:24'   'down"')
629   ('date=2021-06-17'   'time=14:38:29'   'down"')
630   ('date=2021-06-17'   'time=14:38:28'   'down"')
637   ('date=2021-06-17'   'time=13:10:36'   'down"')
638   ('date=2021-06-17'   'time=13:10:36'   'down"')
655   ('date=2021-06-17'   'time=09:33:42'   'down"')
656   ('date=2021-06-17'   'time=09:33:40'   'down"')
660   ('date=2021-06-16'   'time=18:38:32'   'down"')
661   ('date=2021-06-16'   'time=18:38:31'   'down"')
668   ('date=2021-06-14'   'time=16:21:51'   'down"')
673   ('date=2021-06-11'   'time=17:38:16'   'down"')
674   ('date=2021-06-11'   'time=17:38:14'   'down"')
701   ('date=2021-06-11'   'time=13:24:38'   'down"')
702   ('date=2021-06-11'   'time=13:24:37'   'down"')
708   ('date=2021-06-09'   'time=16:22:59'   'down"')
711   ('date=2021-06-09'   'time=16:09:25'   'down"')
716   ('date=2021-06-09'   'time=14:40:54'   'down"')
721   ('date=2021-06-09'   'time=12:04:24'   'down"')
724   ('date=2021-06-09'   'time=09:18:38'   'down"')
727   ('date=2021-06-09'   'time=09:16:21'   'down"')
728   ('date=2021-06-09'   'time=09:16:19'   'down"')
731   ('date=2021-06-09'   'time=09:05:52'   'down"')
732   ('date=2021-06-09'   'time=09:05:51'   'down"')
735   ('date=2021-06-09'   'time=08:20:59'   'down"')
752   ('date=2021-06-08'   'time=19:45:04'   'down"')
753   ('date=2021-06-08'   'time=19:45:03'   'down"')
772   ('date=2021-06-08'   'time=16:53:08'   'down"')
777   ('date=2021-06-08'   'time=16:25:03'   'down"')
781   ('date=2021-06-08'   'time=16:00:38'   'down"')
782   ('date=2021-06-08'   'time=16:00:36'   'down"')
794   ('date=2021-06-08'   'time=14:18:26'   'down"')
795   ('date=2021-06-08'   'time=14:18:25'   'down"')
798   ('date=2021-06-08'   'time=13:55:44'   'down"')
803   ('date=2021-06-08'   'time=13:08:06'   'down"')
804   ('date=2021-06-08'   'time=13:08:05'   'down"')
809   ('date=2021-06-08'   'time=10:44:11'   'down"')
814   ('date=2021-06-08'   'time=09:00:25'   'down"')
815   ('date=2021-06-08'   'time=09:00:24'   'down"')
818   ('date=2021-06-08'   'time=08:55:36'   'down"')
819   ('date=2021-06-08'   'time=08:55:34'   'down"')
822   ('date=2021-06-03'   'time=21:05:30'   'down"')
825   ('date=2021-06-03'   'time=20:27:30'   'down"')
832   ('date=2021-06-03'   'time=19:51:26'   'down"')
835   ('date=2021-06-03'   'time=19:30:05'   'down"')
838   ('date=2021-06-03'   'time=19:23:37'   'down"')
841   ('date=2021-06-03'   'time=19:22:19'   'down"')
844   ('date=2021-06-03'   'time=19:15:37'   'down"')
848   ('date=2021-06-03'   'time=18:52:12'   'down"')
856   ('date=2021-06-03'   'time=17:50:46'   'down"')
869   ('date=2021-06-03'   'time=15:54:33'   'down"')
870   ('date=2021-06-03'   'time=15:54:31'   'down"')
875   ('date=2021-06-03'   'time=14:24:37'   'down"')
881   ('date=2021-06-03'   'time=11:51:22'   'down"')
885   ('date=2021-06-03'   'time=11:06:39'   'down"')
888   ('date=2021-06-02'   'time=17:22:00'   'down"')
892   ('date=2021-06-02'   'time=16:19:59'   'down"')
911   ('date=2021-06-02'   'time=13:35:37'   'down"')
912   ('date=2021-06-02'   'time=13:35:36'   'down"')
916   ('date=2021-06-02'   'time=12:04:09'   'down"')
917   ('date=2021-06-02'   'time=12:04:07'   'down"')
925   ('date=2021-06-02'   'time=11:21:34'   'down"')
926   ('date=2021-06-02'   'time=11:21:34'   'down"')
976   ('date=2021-06-01'   'time=19:02:06'   'down"')
977   ('date=2021-06-01'   'time=19:02:04'   'down"')
982   ('date=2021-06-01'   'time=17:05:18'   'down"')
983   ('date=2021-06-01'   'time=17:05:16'   'down"')
986   ('date=2021-06-01'   'time=16:29:55'   'down"')
987   ('date=2021-06-01'   'time=16:29:54'   'down"')
7     ('date=2021-06-30'   'time=19:32:05'     'up"')
8     ('date=2021-06-30'   'time=19:32:04'     'up"')
12    ('date=2021-06-30'   'time=15:15:37'     'up"')
13    ('date=2021-06-30'   'time=15:15:36'     'up"')
15    ('date=2021-06-30'   'time=15:04:00'     'up"')
16    ('date=2021-06-30'   'time=15:03:59'     'up"')
21    ('date=2021-06-30'   'time=14:22:40'     'up"')
22    ('date=2021-06-30'   'time=14:22:40'     'up"')
42    ('date=2021-06-30'   'time=09:12:43'     'up"')
43    ('date=2021-06-30'   'time=09:12:42'     'up"')
91    ('date=2021-06-30'   'time=01:17:33'     'up"')
92    ('date=2021-06-30'   'time=01:17:32'     'up"')
101   ('date=2021-06-29'   'time=20:33:22'     'up"')
102   ('date=2021-06-29'   'time=20:33:22'     'up"')
104   ('date=2021-06-29'   'time=20:19:43'     'up"')
105   ('date=2021-06-29'   'time=20:19:42'     'up"')
110   ('date=2021-06-29'   'time=20:09:23'     'up"')
111   ('date=2021-06-29'   'time=20:09:22'     'up"')
114   ('date=2021-06-29'   'time=19:27:47'     'up"')
115   ('date=2021-06-29'   'time=19:27:46'     'up"')
117   ('date=2021-06-29'   'time=19:02:09'     'up"')
118   ('date=2021-06-29'   'time=19:02:08'     'up"')
128   ('date=2021-06-29'   'time=17:45:16'     'up"')
129   ('date=2021-06-29'   'time=17:45:16'     'up"')
132   ('date=2021-06-29'   'time=16:45:03'     'up"')
133   ('date=2021-06-29'   'time=16:45:02'     'up"')
136   ('date=2021-06-29'   'time=16:32:20'     'up"')
137   ('date=2021-06-29'   'time=16:32:20'     'up"')
139   ('date=2021-06-29'   'time=16:29:48'     'up"')
140   ('date=2021-06-29'   'time=16:29:47'     'up"')
150   ('date=2021-06-29'   'time=10:03:27'     'up"')
151   ('date=2021-06-29'   'time=10:03:27'     'up"')
162   ('date=2021-06-28'   'time=16:38:33'     'up"')
163   ('date=2021-06-28'   'time=16:38:32'     'up"')
178   ('date=2021-06-28'   'time=14:22:46'     'up"')
179   ('date=2021-06-28'   'time=14:22:46'     'up"')
185   ('date=2021-06-28'   'time=13:47:49'     'up"')
186   ('date=2021-06-28'   'time=13:47:48'     'up"')
189   ('date=2021-06-28'   'time=13:45:53'     'up"')
190   ('date=2021-06-28'   'time=13:45:52'     'up"')
217   ('date=2021-06-28'   'time=09:41:10'     'up"')
218   ('date=2021-06-28'   'time=09:41:10'     'up"')
224   ('date=2021-06-25'   'time=18:12:58'     'up"')
225   ('date=2021-06-25'   'time=18:12:57'     'up"')
275   ('date=2021-06-25'   'time=10:12:18'     'up"')
276   ('date=2021-06-25'   'time=10:12:17'     'up"')
304   ('date=2021-06-24'   'time=13:40:50'     'up"')
305   ('date=2021-06-24'   'time=13:40:50'     'up"')
324   ('date=2021-06-24'   'time=10:53:40'     'up"')
325   ('date=2021-06-24'   'time=10:53:39'     'up"')
328   ('date=2021-06-24'   'time=10:33:11'     'up"')
329   ('date=2021-06-24'   'time=10:33:07'     'up"')
332   ('date=2021-06-24'   'time=09:46:06'     'up"')
333   ('date=2021-06-24'   'time=09:46:05'     'up"')
340   ('date=2021-06-23'   'time=15:49:10'     'up"')
341   ('date=2021-06-23'   'time=15:49:08'     'up"')
352   ('date=2021-06-23'   'time=14:21:02'     'up"')
353   ('date=2021-06-23'   'time=14:21:01'     'up"')
356   ('date=2021-06-23'   'time=13:13:08'     'up"')
357   ('date=2021-06-23'   'time=13:13:07'     'up"')
362   ('date=2021-06-23'   'time=12:45:39'     'up"')
363   ('date=2021-06-23'   'time=12:45:38'     'up"')
371   ('date=2021-06-23'   'time=11:37:08'     'up"')
372   ('date=2021-06-23'   'time=11:37:07'     'up"')
378   ('date=2021-06-23'   'time=10:51:55'     'up"')
379   ('date=2021-06-23'   'time=10:51:55'     'up"')
385   ('date=2021-06-23'   'time=10:09:40'     'up"')
386   ('date=2021-06-23'   'time=10:09:40'     'up"')
388   ('date=2021-06-23'   'time=09:58:00'     'up"')
389   ('date=2021-06-23'   'time=09:57:59'     'up"')
432   ('date=2021-06-23'   'time=02:58:57'     'up"')
433   ('date=2021-06-23'   'time=02:58:55'     'up"')
437   ('date=2021-06-23'   'time=02:42:15'     'up"')
438   ('date=2021-06-23'   'time=02:42:14'     'up"')
440   ('date=2021-06-23'   'time=02:34:38'     'up"')
441   ('date=2021-06-23'   'time=02:34:37'     'up"')
443   ('date=2021-06-22'   'time=22:38:58'     'up"')
444   ('date=2021-06-22'   'time=22:38:58'     'up"')
451   ('date=2021-06-22'   'time=21:27:26'     'up"')
452   ('date=2021-06-22'   'time=21:27:25'     'up"')
454   ('date=2021-06-22'   'time=20:33:10'     'up"')
455   ('date=2021-06-22'   'time=20:33:09'     'up"')
505   ('date=2021-06-22'   'time=10:12:58'     'up"')
506   ('date=2021-06-22'   'time=10:12:57'     'up"')
512   ('date=2021-06-21'   'time=18:21:08'     'up"')
513   ('date=2021-06-21'   'time=18:21:07'     'up"')
518   ('date=2021-06-21'   'time=16:01:38'     'up"')
519   ('date=2021-06-21'   'time=16:01:32'     'up"')
522   ('date=2021-06-21'   'time=15:57:56'     'up"')
523   ('date=2021-06-21'   'time=15:57:56'     'up"')
527   ('date=2021-06-21'   'time=15:30:07'     'up"')
528   ('date=2021-06-21'   'time=15:30:07'     'up"')
531   ('date=2021-06-21'   'time=14:25:37'     'up"')
532   ('date=2021-06-21'   'time=14:25:31'     'up"')
534   ('date=2021-06-21'   'time=10:15:31'     'up"')
535   ('date=2021-06-21'   'time=10:15:31'     'up"')
537   ('date=2021-06-21'   'time=10:02:44'     'up"')
538   ('date=2021-06-21'   'time=10:02:44'     'up"')
541   ('date=2021-06-21'   'time=09:51:43'     'up"')
542   ('date=2021-06-21'   'time=09:51:42'     'up"')
545   ('date=2021-06-21'   'time=09:41:12'     'up"')
546   ('date=2021-06-21'   'time=09:41:11'     'up"')
549   ('date=2021-06-18'   'time=17:31:19'     'up"')
550   ('date=2021-06-18'   'time=17:31:19'     'up"')
553   ('date=2021-06-18'   'time=17:27:59'     'up"')
554   ('date=2021-06-18'   'time=17:27:58'     'up"')
559   ('date=2021-06-18'   'time=16:56:50'     'up"')
560   ('date=2021-06-18'   'time=16:56:49'     'up"')
565   ('date=2021-06-18'   'time=16:29:26'     'up"')
566   ('date=2021-06-18'   'time=16:29:25'     'up"')
569   ('date=2021-06-18'   'time=16:23:38'     'up"')
570   ('date=2021-06-18'   'time=16:23:38'     'up"')
573   ('date=2021-06-18'   'time=13:52:28'     'up"')
574   ('date=2021-06-18'   'time=13:52:27'     'up"')
582   ('date=2021-06-18'   'time=10:38:30'     'up"')
583   ('date=2021-06-18'   'time=10:38:29'     'up"')
586   ('date=2021-06-18'   'time=10:00:30'     'up"')
587   ('date=2021-06-18'   'time=10:00:29'     'up"')
590   ('date=2021-06-18'   'time=09:44:37'     'up"')
591   ('date=2021-06-18'   'time=09:44:37'     'up"')
596   ('date=2021-06-18'   'time=09:19:07'     'up"')
597   ('date=2021-06-18'   'time=09:19:07'     'up"')
605   ('date=2021-06-17'   'time=17:11:09'     'up"')
606   ('date=2021-06-17'   'time=17:11:08'     'up"')
612   ('date=2021-06-17'   'time=16:24:08'     'up"')
613   ('date=2021-06-17'   'time=16:24:07'     'up"')
618   ('date=2021-06-17'   'time=15:46:30'     'up"')
619   ('date=2021-06-17'   'time=15:46:29'     'up"')
627   ('date=2021-06-17'   'time=14:55:09'     'up"')
628   ('date=2021-06-17'   'time=14:55:08'     'up"')
635   ('date=2021-06-17'   'time=13:56:50'     'up"')
636   ('date=2021-06-17'   'time=13:56:49'     'up"')
653   ('date=2021-06-17'   'time=10:40:14'     'up"')
654   ('date=2021-06-17'   'time=10:40:13'     'up"')
658   ('date=2021-06-17'   'time=09:19:28'     'up"')
659   ('date=2021-06-17'   'time=09:19:27'     'up"')
666   ('date=2021-06-16'   'time=17:52:03'     'up"')
667   ('date=2021-06-16'   'time=17:52:03'     'up"')
671   ('date=2021-06-14'   'time=15:59:20'     'up"')
672   ('date=2021-06-14'   'time=15:59:20'     'up"')
699   ('date=2021-06-11'   'time=13:31:34'     'up"')
700   ('date=2021-06-11'   'time=13:31:33'     'up"')
706   ('date=2021-06-11'   'time=12:48:37'     'up"')
707   ('date=2021-06-11'   'time=12:48:37'     'up"')
709   ('date=2021-06-09'   'time=16:20:27'     'up"')
710   ('date=2021-06-09'   'time=16:20:26'     'up"')
713   ('date=2021-06-09'   'time=15:56:11'     'up"')
714   ('date=2021-06-09'   'time=15:56:10'     'up"')
718   ('date=2021-06-09'   'time=14:29:51'     'up"')
719   ('date=2021-06-09'   'time=14:29:50'     'up"')
722   ('date=2021-06-09'   'time=11:57:51'     'up"')
723   ('date=2021-06-09'   'time=11:57:51'     'up"')
725   ('date=2021-06-09'   'time=09:18:22'     'up"')
726   ('date=2021-06-09'   'time=09:18:21'     'up"')
729   ('date=2021-06-09'   'time=09:07:35'     'up"')
730   ('date=2021-06-09'   'time=09:07:35'     'up"')
733   ('date=2021-06-09'   'time=09:01:42'     'up"')
734   ('date=2021-06-09'   'time=09:01:42'     'up"')
750   ('date=2021-06-09'   'time=05:53:26'     'up"')
751   ('date=2021-06-09'   'time=05:53:25'     'up"')
770   ('date=2021-06-08'   'time=16:57:19'     'up"')
771   ('date=2021-06-08'   'time=16:57:18'     'up"')
774   ('date=2021-06-08'   'time=16:39:19'     'up"')
775   ('date=2021-06-08'   'time=16:39:18'     'up"')
779   ('date=2021-06-08'   'time=16:07:45'     'up"')
780   ('date=2021-06-08'   'time=16:07:44'     'up"')
792   ('date=2021-06-08'   'time=14:21:20'     'up"')
793   ('date=2021-06-08'   'time=14:21:19'     'up"')
796   ('date=2021-06-08'   'time=14:16:14'     'up"')
797   ('date=2021-06-08'   'time=14:16:13'     'up"')
801   ('date=2021-06-08'   'time=13:26:19'     'up"')
802   ('date=2021-06-08'   'time=13:26:18'     'up"')
805   ('date=2021-06-08'   'time=13:07:04'     'up"')
806   ('date=2021-06-08'   'time=13:07:03'     'up"')
810   ('date=2021-06-08'   'time=10:43:34'     'up"')
811   ('date=2021-06-08'   'time=10:43:33'     'up"')
816   ('date=2021-06-08'   'time=08:57:37'     'up"')
817   ('date=2021-06-08'   'time=08:57:36'     'up"')
820   ('date=2021-06-08'   'time=08:55:25'     'up"')
821   ('date=2021-06-08'   'time=08:55:25'     'up"')
823   ('date=2021-06-03'   'time=21:05:09'     'up"')
824   ('date=2021-06-03'   'time=21:05:08'     'up"')
829   ('date=2021-06-03'   'time=19:57:24'     'up"')
830   ('date=2021-06-03'   'time=19:57:23'     'up"')
833   ('date=2021-06-03'   'time=19:49:39'     'up"')
834   ('date=2021-06-03'   'time=19:49:38'     'up"')
836   ('date=2021-06-03'   'time=19:26:03'     'up"')
837   ('date=2021-06-03'   'time=19:26:03'     'up"')
839   ('date=2021-06-03'   'time=19:23:18'     'up"')
840   ('date=2021-06-03'   'time=19:23:17'     'up"')
842   ('date=2021-06-03'   'time=19:16:47'     'up"')

In [31]:
result.to_csv("sslvpn.csv", encoding="utf-8")

In [33]:
result = pd.read_csv("sslvpn.csv", encoding="utf-8")
result

     Unnamed: 0                date              time     static
0             0  ('date=2021-06-30'   'time=20:32:25'   'down"')
1             1  ('date=2021-06-30'   'time=20:32:25'   'down"')
2             7  ('date=2021-06-30'   'time=19:32:05'     'up"')
3             8  ('date=2021-06-30'   'time=19:32:04'     'up"')
4             9  ('date=2021-06-30'   'time=15:28:22'   'down"')
5            10  ('date=2021-06-30'   'time=15:28:20'   'down"')
6            12  ('date=2021-06-30'   'time=15:15:37'     'up"')
7            13  ('date=2021-06-30'   'time=15:15:36'     'up"')
8            14  ('date=2021-06-30'   'time=15:09:24'   'down"')
9            15  ('date=2021-06-30'   'time=15:04:00'     'up"')
10           16  ('date=2021-06-30'   'time=15:03:59'     'up"')
11           17  ('date=2021-06-30'   'time=15:01:40'   'down"')
12           21  ('date=2021-06-30'   'time=14:22:40'     'up"')
13           22  ('date=2021-06-30'   'time=14:22:40'     'up"')
14           23  ('date=2021-06-30'   'time=12:08:44'   'down"')
15           24  ('date=2021-06-30'   'time=12:08:44'   'down"')
16           42  ('date=2021-06-30'   'time=09:12:43'     'up"')
17           43  ('date=2021-06-30'   'time=09:12:42'     'up"')
18           44  ('date=2021-06-30'   'time=09:07:44'   'down"')
19           91  ('date=2021-06-30'   'time=01:17:33'     'up"')
20           92  ('date=2021-06-30'   'time=01:17:32'     'up"')
21           93  ('date=2021-06-29'   'time=21:41:24'   'down"')
22           94  ('date=2021-06-29'   'time=21:41:23'   'down"')
23          101  ('date=2021-06-29'   'time=20:33:22'     'up"')
24          102  ('date=2021-06-29'   'time=20:33:22'     'up"')
25          103  ('date=2021-06-29'   'time=20:26:07'   'down"')
26          104  ('date=2021-06-29'   'time=20:19:43'     'up"')
27          105  ('date=2021-06-29'   'time=20:19:42'     'up"')
28          109  ('date=2021-06-29'   'time=20:16:57'   'down"')
29          110  ('date=2021-06-29'   'time=20:09:23'     'up"')
30          111  ('date=2021-06-29'   'time=20:09:22'     'up"')
31          112  ('date=2021-06-29'   'time=19:30:04'   'down"')
32          113  ('date=2021-06-29'   'time=19:30:02'   'down"')
33          114  ('date=2021-06-29'   'time=19:27:47'     'up"')
34          115  ('date=2021-06-29'   'time=19:27:46'     'up"')
35          116  ('date=2021-06-29'   'time=19:07:30'   'down"')
36          117  ('date=2021-06-29'   'time=19:02:09'     'up"')
37          118  ('date=2021-06-29'   'time=19:02:08'     'up"')
38          119  ('date=2021-06-29'   'time=18:57:40'   'down"')
39          120  ('date=2021-06-29'   'time=18:57:40'   'down"')
40          128  ('date=2021-06-29'   'time=17:45:16'     'up"')
41          129  ('date=2021-06-29'   'time=17:45:16'     'up"')
42          130  ('date=2021-06-29'   'time=17:01:22'   'down"')
43          132  ('date=2021-06-29'   'time=16:45:03'     'up"')
44          133  ('date=2021-06-29'   'time=16:45:02'     'up"')
45          134  ('date=2021-06-29'   'time=16:37:11'   'down"')
46          135  ('date=2021-06-29'   'time=16:37:10'   'down"')
47          136  ('date=2021-06-29'   'time=16:32:20'     'up"')
48          137  ('date=2021-06-29'   'time=16:32:20'     'up"')
49          138  ('date=2021-06-29'   'time=16:32:06'   'down"')
50          139  ('date=2021-06-29'   'time=16:29:48'     'up"')
51          140  ('date=2021-06-29'   'time=16:29:47'     'up"')
52          141  ('date=2021-06-29'   'time=11:20:01'   'down"')
53          142  ('date=2021-06-29'   'time=11:19:59'   'down"')
54          150  ('date=2021-06-29'   'time=10:03:27'     'up"')
55          151  ('date=2021-06-29'   'time=10:03:27'     'up"')
56          152  ('date=2021-06-28'   'time=18:04:21'   'down"')
57          153  ('date=2021-06-28'   'time=18:04:19'   'down"')
58          162  ('date=2021-06-28'   'time=16:38:33'     'up"')
59          163  ('date=2021-06-28'   'time=16:38:32'     'up"')
60          164  ('date=2021-06-28'   'time=16:38:00'   'down"')
61          178  ('date=2021-06-28'   'time=14:22:46'     'up"')
62          179  ('date=2021-06-28'   'time=14:22:46'     'up"')
63          180  ('date=2021-06-28'   'time=14:22:03'   'down"')
64          181  ('date=2021-06-28'   'time=14:22:01'   'down"')
65          185  ('date=2021-06-28'   'time=13:47:49'     'up"')
66          186  ('date=2021-06-28'   'time=13:47:48'     'up"')
67          187  ('date=2021-06-28'   'time=13:47:25'   'down"')
68          188  ('date=2021-06-28'   'time=13:47:23'   'down"')
69          189  ('date=2021-06-28'   'time=13:45:53'     'up"')
70          190  ('date=2021-06-28'   'time=13:45:52'     'up"')
71          191  ('date=2021-06-28'   'time=13:45:24'   'down"')
72          192  ('date=2021-06-28'   'time=13:45:23'   'down"')
73          217  ('date=2021-06-28'   'time=09:41:10'     'up"')
74          218  ('date=2021-06-28'   'time=09:41:10'     'up"')
75          219  ('date=2021-06-25'   'time=18:44:47'   'down"')
76          220  ('date=2021-06-25'   'time=18:44:47'   'down"')
77          224  ('date=2021-06-25'   'time=18:12:58'     'up"')
78          225  ('date=2021-06-25'   'time=18:12:57'     'up"')
79          226  ('date=2021-06-25'   'time=18:12:18'   'down"')
80          227  ('date=2021-06-25'   'time=18:12:18'   'down"')
81          275  ('date=2021-06-25'   'time=10:12:18'     'up"')
82          276  ('date=2021-06-25'   'time=10:12:17'     'up"')
83          277  ('date=2021-06-24'   'time=18:03:27'   'down"')
84          304  ('date=2021-06-24'   'time=13:40:50'     'up"')
85          305  ('date=2021-06-24'   'time=13:40:50'     'up"')
86          306  ('date=2021-06-24'   'time=13:40:40'   'down"')
87          307  ('date=2021-06-24'   'time=13:40:37'   'down"')
88          324  ('date=2021-06-24'   'time=10:53:40'     'up"')
89          325  ('date=2021-06-24'   'time=10:53:39'     'up"')
90          326  ('date=2021-06-24'   'time=10:53:02'   'down"')
91          328  ('date=2021-06-24'   'time=10:33:11'     'up"')
92          329  ('date=2021-06-24'   'time=10:33:07'     'up"')
93          330  ('date=2021-06-24'   'time=09:54:00'   'down"')
94          331  ('date=2021-06-24'   'time=09:53:58'   'down"')
95          332  ('date=2021-06-24'   'time=09:46:06'     'up"')
96          333  ('date=2021-06-24'   'time=09:46:05'     'up"')
97          335  ('date=2021-06-23'   'time=16:27:58'   'down"')
98          336  ('date=2021-06-23'   'time=16:27:57'   'down"')
99          340  ('date=2021-06-23'   'time=15:49:10'     'up"')
100         341  ('date=2021-06-23'   'time=15:49:08'     'up"')
101         342  ('date=2021-06-23'   'time=15:48:50'   'down"')
102         343  ('date=2021-06-23'   'time=15:48:50'   'down"')
103         352  ('date=2021-06-23'   'time=14:21:02'     'up"')
104         353  ('date=2021-06-23'   'time=14:21:01'     'up"')
105         354  ('date=2021-06-23'   'time=13:16:56'   'down"')
106         355  ('date=2021-06-23'   'time=13:16:55'   'down"')
107         356  ('date=2021-06-23'   'time=13:13:08'     'up"')
108         357  ('date=2021-06-23'   'time=13:13:07'     'up"')
109         358  ('date=2021-06-23'   'time=13:08:56'   'down"')
110         359  ('date=2021-06-23'   'time=13:08:54'   'down"')
111         362  ('date=2021-06-23'   'time=12:45:39'     'up"')
112         363  ('date=2021-06-23'   'time=12:45:38'     'up"')
113         364  ('date=2021-06-23'   'time=12:27:21'   'down"')
114         365  ('date=2021-06-23'   'time=12:27:19'   'down"')
115         371  ('date=2021-06-23'   'time=11:37:08'     'up"')
116         372  ('date=2021-06-23'   'time=11:37:07'     'up"')
117         373  ('date=2021-06-23'   'time=11:24:55'   'down"')
118         374  ('date=2021-06-23'   'time=11:24:53'   'down"')
119         378  ('date=2021-06-23'   'time=10:51:55'     'up"')
120         379  ('date=2021-06-23'   'time=10:51:55'     'up"')
121         380  ('date=2021-06-23'   'time=10:41:21'   'down"')
122         381  ('date=2021-06-23'   'time=10:41:19'   'down"')
123         385  ('date=2021-06-23'   'time=10:09:40'     'up"')
124         386  ('date=2021-06-23'   'time=10:09:40'     'up"')
125         387  ('date=2021-06-23'   'time=10:00:22'   'down"')
126         388  ('date=2021-06-23'   'time=09:58:00'     'up"')
127         389  ('date=2021-06-23'   'time=09:57:59'     'up"')
128         390  ('date=2021-06-23'   'time=09:43:03'   'down"')
129         391  ('date=2021-06-23'   'time=09:43:03'   'down"')
130         432  ('date=2021-06-23'   'time=02:58:57'     'up"')
131         433  ('date=2021-06-23'   'time=02:58:55'     'up"')
132         434  ('date=2021-06-23'   'time=02:58:44'   'down"')
133         435  ('date=2021-06-23'   'time=02:58:44'   'down"')
134         437  ('date=2021-06-23'   'time=02:42:15'     'up"')
135         438  ('date=2021-06-23'   'time=02:42:14'     'up"')
136         439  ('date=2021-06-23'   'time=02:36:14'   'down"')
137         440  ('date=2021-06-23'   'time=02:34:38'     'up"')
138         441  ('date=2021-06-23'   'time=02:34:37'     'up"')
139         442  ('date=2021-06-22'   'time=22:39:47'   'down"')
140         443  ('date=2021-06-22'   'time=22:38:58'     'up"')
141         444  ('date=2021-06-22'   'time=22:38:58'     'up"')
142         445  ('date=2021-06-22'   'time=22:16:18'   'down"')
143         446  ('date=2021-06-22'   'time=22:16:16'   'down"')
144         451  ('date=2021-06-22'   'time=21:27:26'     'up"')
145         452  ('date=2021-06-22'   'time=21:27:25'     'up"')
146         453  ('date=2021-06-22'   'time=20:40:06'   'down"')
147         454  ('date=2021-06-22'   'time=20:33:10'     'up"')
148         455  ('date=2021-06-22'   'time=20:33:09'     'up"')
149         456  ('date=2021-06-22'   'time=18:12:59'   'down"')
150         457  ('date=2021-06-22'   'time=18:12:59'   'down"')
151         505  ('date=2021-06-22'   'time=10:12:58'     'up"')
152         506  ('date=2021-06-22'   'time=10:12:57'     'up"')
153         507  ('date=2021-06-21'   'time=19:01:41'   'down"')
154         512  ('date=2021-06-21'   'time=18:21:08'     'up"')
155         513  ('date=2021-06-21'   'time=18:21:07'     'up"')
156         514  ('date=2021-06-21'   'time=16:27:46'   'down"')
157         515  ('date=2021-06-21'   'time=16:27:46'   'down"')
158         518  ('date=2021-06-21'   'time=16:01:38'     'up"')
159         519  ('date=2021-06-21'   'time=16:01:32'     'up"')
160         520  ('date=2021-06-21'   'time=15:58:42'   'down"')
161         521  ('date=2021-06-21'   'time=15:58:41'   'down"')
162         522  ('date=2021-06-21'   'time=15:57:56'     'up"')
163         523  ('date=2021-06-21'   'time=15:57:56'     'up"')
164         524  ('date=2021-06-21'   'time=15:47:37'   'down"')
165         525  ('date=2021-06-21'   'time=15:47:35'   'down"')
166         527  ('date=2021-06-21'   'time=15:30:07'     'up"')
167         528  ('date=2021-06-21'   'time=15:30:07'     'up"')
168         529  ('date=2021-06-21'   'time=14:30:50'   'down"')
169         530  ('date=2021-06-21'   'time=14:30:49'   'down"')
170         531  ('date=2021-06-21'   'time=14:25:37'     'up"')
171         532  ('date=2021-06-21'   'time=14:25:31'     'up"')
172         533  ('date=2021-06-21'   'time=10:18:10'   'down"')
173         534  ('date=2021-06-21'   'time=10:15:31'     'up"')
174         535  ('date=2021-06-21'   'time=10:15:31'     'up"')
175         536  ('date=2021-06-21'   'time=10:03:51'   'down"')
176         537  ('date=2021-06-21'   'time=10:02:44'     'up"')
177         538  ('date=2021-06-21'   'time=10:02:44'     'up"')
178         539  ('date=2021-06-21'   'time=09:56:20'   'down"')
179         540  ('date=2021-06-21'   'time=09:56:20'   'down"')
180         541  ('date=2021-06-21'   'time=09:51:43'     'up"')
181         542  ('date=2021-06-21'   'time=09:51:42'     'up"')
182         543  ('date=2021-06-21'   'time=09:41:40'   'down"')
183         544  ('date=2021-06-21'   'time=09:41:39'   'down"')
184         545  ('date=2021-06-21'   'time=09:41:12'     'up"')
185         546  ('date=2021-06-21'   'time=09:41:11'     'up"')
186         547  ('date=2021-06-18'   'time=17:34:11'   'down"')
187         548  ('date=2021-06-18'   'time=17:34:10'   'down"')
188         549  ('date=2021-06-18'   'time=17:31:19'     'up"')
189         550  ('date=2021-06-18'   'time=17:31:19'     'up"')
190         551  ('date=2021-06-18'   'time=17:28:48'   'down"')
191         552  ('date=2021-06-18'   'time=17:28:47'   'down"')
192         553  ('date=2021-06-18'   'time=17:27:59'     'up"')
193         554  ('date=2021-06-18'   'time=17:27:58'     'up"')
194         555  ('date=2021-06-18'   'time=17:23:32'   'down"')
195         556  ('date=2021-06-18'   'time=17:23:31'   'down"')
196         559  ('date=2021-06-18'   'time=16:56:50'     'up"')
197         560  ('date=2021-06-18'   'time=16:56:49'     'up"')
198         561  ('date=2021-06-18'   'time=16:51:45'   'down"')
199         562  ('date=2021-06-18'   'time=16:51:45'   'down"')
200         565  ('date=2021-06-18'   'time=16:29:26'     'up"')
201         566  ('date=2021-06-18'   'time=16:29:25'     'up"')
202         567  ('date=2021-06-18'   'time=16:28:09'   'down"')
203         568  ('date=2021-06-18'   'time=16:28:08'   'down"')
204         569  ('date=2021-06-18'   'time=16:23:38'     'up"')
205         570  ('date=2021-06-18'   'time=16:23:38'     'up"')
206         571  ('date=2021-06-18'   'time=13:58:39'   'down"')
207         572  ('date=2021-06-18'   'time=13:58:39'   'down"')
208         573  ('date=2021-06-18'   'time=13:52:28'     'up"')
209         574  ('date=2021-06-18'   'time=13:52:27'     'up"')
210         575  ('date=2021-06-18'   'time=11:29:46'   'down"')
211         576  ('date=2021-06-18'   'time=11:29:46'   'down"')
212         582  ('date=2021-06-18'   'time=10:38:30'     'up"')
213         583  ('date=2021-06-18'   'time=10:38:29'     'up"')
214         584  ('date=2021-06-18'   'time=10:03:08'   'down"')
215         585  ('date=2021-06-18'   'time=10:03:08'   'down"')
216         586  ('date=2021-06-18'   'time=10:00:30'     'up"')
217         587  ('date=2021-06-18'   'time=10:00:29'     'up"')
218         588  ('date=2021-06-18'   'time=09:52:20'   'down"')
219         589  ('date=2021-06-18'   'time=09:52:20'   'down"')
220         590  ('date=2021-06-18'   'time=09:44:37'     'up"')
221         591  ('date=2021-06-18'   'time=09:44:37'     'up"')
222         592  ('date=2021-06-18'   'time=09:43:27'   'down"')
223         593  ('date=2021-06-18'   'time=09:43:27'   'down"')
224         596  ('date=2021-06-18'   'time=09:19:07'     'up"')
225         597  ('date=2021-06-18'   'time=09:19:07'     'up"')
226         598  ('date=2021-06-17'   'time=18:03:43'   'down"')
227         599  ('date=2021-06-17'   'time=18:03:41'   'down"')
228         605  ('date=2021-06-17'   'time=17:11:09'     'up"')
229         606  ('date=2021-06-17'   'time=17:11:08'     'up"')
230         607  ('date=2021-06-17'   'time=17:06:11'   'down"')
231         612  ('date=2021-06-17'   'time=16:24:08'     'up"')
232         613  ('date=2021-06-17'   'time=16:24:07'     'up"')
233         614  ('date=2021-06-17'   'time=16:10:23'   'down"')
234         615  ('date=2021-06-17'   'time=16:10:21'   'down"')
235         618  ('date=2021-06-17'   'time=15:46:30'     'up"')
236         619  ('date=2021-06-17'   'time=15:46:29'     'up"')
237         621  ('date=2021-06-17'   'time=15:41:25'   'down"')
238         622  ('date=2021-06-17'   'time=15:41:24'   'down"')
239         627  ('date=2021-06-17'   'time=14:55:09'     'up"')
240         628  ('date=2021-06-17'   'time=14:55:08'     'up"')
241         629  ('date=2021-06-17'   'time=14:38:29'   'down"')
242         630  ('date=2021-06-17'   'time=14:38:28'   'down"')
243         635  ('date=2021-06-17'   'time=13:56:50'     'up"')
244         636  ('date=2021-06-17'   'time=13:56:49'     'up"')
245         637  ('date=2021-06-17'   'time=13:10:36'   'down"')
246         638  ('date=2021-06-17'   'time=13:10:36'   'down"')
247         653  ('date=2021-06-17'   'time=10:40:14'     'up"')
248         654  ('date=2021-06-17'   'time=10:40:13'     'up"')
249         655  ('date=2021-06-17'   'time=09:33:42'   'down"')
250         656  ('date=2021-06-17'   'time=09:33:40'   'down"')
251         658  ('date=2021-06-17'   'time=09:19:28'     'up"')
252         659  ('date=2021-06-17'   'time=09:19:27'     'up"')
253         660  ('date=2021-06-16'   'time=18:38:32'   'down"')
254         661  ('date=2021-06-16'   'time=18:38:31'   'down"')
255         666  ('date=2021-06-16'   'time=17:52:03'     'up"')
256         667  ('date=2021-06-16'   'time=17:52:03'     'up"')
257         668  ('date=2021-06-14'   'time=16:21:51'   'down"')
258         671  ('date=2021-06-14'   'time=15:59:20'     'up"')
259         672  ('date=2021-06-14'   'time=15:59:20'     'up"')
260         673  ('date=2021-06-11'   'time=17:38:16'   'down"')
261         674  ('date=2021-06-11'   'time=17:38:14'   'down"')
262         699  ('date=2021-06-11'   'time=13:31:34'     'up"')
263         700  ('date=2021-06-11'   'time=13:31:33'     'up"')
264         701  ('date=2021-06-11'   'time=13:24:38'   'down"')
265         702  ('date=2021-06-11'   'time=13:24:37'   'down"')
266         706  ('date=2021-06-11'   'time=12:48:37'     'up"')
267         707  ('date=2021-06-11'   'time=12:48:37'     'up"')
268         708  ('date=2021-06-09'   'time=16:22:59'   'down"')
269         709  ('date=2021-06-09'   'time=16:20:27'     'up"')
270         710  ('date=2021-06-09'   'time=16:20:26'     'up"')
271         711  ('date=2021-06-09'   'time=16:09:25'   'down"')
272         713  ('date=2021-06-09'   'time=15:56:11'     'up"')
273         714  ('date=2021-06-09'   'time=15:56:10'     'up"')
274         716  ('date=2021-06-09'   'time=14:40:54'   'down"')
275         718  ('date=2021-06-09'   'time=14:29:51'     'up"')
276         719  ('date=2021-06-09'   'time=14:29:50'     'up"')
277         721  ('date=2021-06-09'   'time=12:04:24'   'down"')
278         722  ('date=2021-06-09'   'time=11:57:51'     'up"')
279         723  ('date=2021-06-09'   'time=11:57:51'     'up"')
280         724  ('date=2021-06-09'   'time=09:18:38'   'down"')
281         725  ('date=2021-06-09'   'time=09:18:22'     'up"')
282         726  ('date=2021-06-09'   'time=09:18:21'     'up"')
283         727  ('date=2021-06-09'   'time=09:16:21'   'down"')
284         728  ('date=2021-06-09'   'time=09:16:19'   'down"')
285         729  ('date=2021-06-09'   'time=09:07:35'     'up"')
286         730  ('date=2021-06-09'   'time=09:07:35'     'up"')
287         731  ('date=2021-06-09'   'time=09:05:52'   'down"')
288         732  ('date=2021-06-09'   'time=09:05:51'   'down"')
289         733  ('date=2021-06-09'   'time=09:01:42'     'up"')
290         734  ('date=2021-06-09'   'time=09:01:42'     'up"')
291         735  ('date=2021-06-09'   'time=08:20:59'   'down"')
292         750  ('date=2021-06-09'   'time=05:53:26'     'up"')
293         751  ('date=2021-06-09'   'time=05:53:25'     'up"')
294         752  ('date=2021-06-08'   'time=19:45:04'   'down"')
295         753  ('date=2021-06-08'   'time=19:45:03'   'down"')
296         770  ('date=2021-06-08'   'time=16:57:19'     'up"')
297         771  ('date=2021-06-08'   'time=16:57:18'     'up"')
298         772  ('date=2021-06-08'   'time=16:53:08'   'down"')
299         774  ('date=2021-06-08'   'time=16:39:19'     'up"')
300         775  ('date=2021-06-08'   'time=16:39:18'     'up"')
301         777  ('date=2021-06-08'   'time=16:25:03'   'down"')
302         779  ('date=2021-06-08'   'time=16:07:45'     'up"')
303         780  ('date=2021-06-08'   'time=16:07:44'     'up"')
304         781  ('date=2021-06-08'   'time=16:00:38'   'down"')
305         782  ('date=2021-06-08'   'time=16:00:36'   'down"')